BasedOnStyle: LLVM
# BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
IndentWidth: 2
NamespaceIndentation: All
AlignConsecutiveAssignments: true
SortIncludes: true
AlignTrailingComments: true
AlignConsecutiveMacros: true
SpaceBeforeParens: true
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: true
# AlignOperands: false

# AlignConsecutiveMacros: false
AlignOperands: false
# AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: false
# AllowShortIfStatementsOnASingleLine: false

ColumnLimit: 120
BinPackParameters: false
BinPackArguments: false
# AllowShortFunctionsOnASingleLine: None
PenaltyBreakAssignment: 2000
PenaltyBreakBeforeFirstCallParameter: 2000
PenaltyReturnTypeOnItsOwnLine: 2000
