/.vscode
/.embuild
/target
/Cargo.lock
/build
.pio
CMakeFiles/
.env
src/CMakeLists.txt
sdkconfig.debug*
sdkconfig.release*
sdkconfig.old
managed_components
.espup.sh
tmp/espup.sh
actions-runner/
_PipelineMapping/
_actions/
