CONFIG_BT_BLUEDROID_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_BLE_ENABLED=y
CONFIG_BT_ENABLED=y

# Needed for iOS to be able to reconnect
CONFIG_BT_NIMBLE_NVS_PERSIST=y

CONFIG_ESP_MAIN_TASK_STACK_SIZE=7000
// # CONFIG_BT_NIMBLE_MAX_CONNECTION=5
CONFIG_FREERTOS_HZ=1000

CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="u701"

# For debuging
// CONFIG_LOG_DEFAULT_LEVEL=5
// CONFIG_BT_NIMBLE_DEBUG=y

// CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL_DEBUG=y
// CONFIG_ARDUHAL_LOG_COLORS=y
// CONFIG_AUTOSTART_ARDUINO=n

// CONFIG_IDF_TARGET_ESP32=y
CONFIG_IDF_VERSION="v4.6.6"

// Disable WatchDog
// CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=n
// CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=n
// CONFIG_ESP_TASK_WDT_TIMEOUT_S=5
// CONFIG_ESP_TASK_WDT_EN=n