CONFIG_ESP_TIMER_SUPPORTS_ISR_DISPATCH_METHOD=y
CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_BT_NIMBLE_LOG_LEVEL_DEBUG=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=60
CONFIG_ESP_TIMER_PROFILING=y
CONFIG_ARDUHAL_LOG_COLORS=y
CONFIG_ARDUHAL_ESP_LOG=y

# Detailed Logging for Specific Components
CONFIG_LOG_VERBOSE=y

# Memory Leak Detection and Management
CONFIG_HEAP_POISONING_COMPREHENSIVE=y
CONFIG_HEAP_TRACING=y

# GDBStub for On-Device Debugging
CONFIG_ESP32_ENABLE_COREDUMP_TO_UART=y
CONFIG_ESP_GDBSTUB_ENABLE=y

# Task and Stack Monitoring
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y
CONFIG_FREERTOS_CHECK_MUTEX_GIVEN_BY_OWNER=y

# Asserts
CONFIG_ASSERT=y

# Performance Counters
CONFIG_PERFMON_ENABLE=y
