CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
CONFIG_NEWLIB_NANO_FORMAT=y

CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y

# Optimized Compiler Settings
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
CONFIG_COMPILER_STACK_CHECK_MODE_NORM=y
CONFIG_COMPILER_DISABLE_GCC8_WARNINGS=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# Security and Encryption
CONFIG_MBEDTLS_SSL_RENEGOTIATION=n
CONFIG_MBEDTLS_ECP_RESTARTABLE=y
CONFIG_MBEDTLS_HARDWARE_AES=y
CONFIG_MBEDTLS_CMAC_C=y

# Memory and Resource Management
CONFIG_HEAP_POISONING_DISABLED=y
CONFIG_FREERTOS_UNICORE=y

# Disable Debugging and Profiling Tools
CONFIG_ESP32_DEBUG_OCDAWARE=n
CONFIG_ESP_TIMER_PROFILING=n

# Power Management
CONFIG_FREERTOS_USE_TICKLESS_IDLE=n
CONFIG_PM_ENABLE=n

# File System and Storage
CONFIG_FATFS_CODEPAGE_437=y
CONFIG_WL_SECTOR_SIZE_4096=y

# Miscellaneous
CONFIG_BTDM_CONTROLLER_FULL_SCAN_SUPPORTED=n
CONFIG_ESP32_DEFAULT_PTHREAD_CORE_NO_AFFINITY=y
