CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_ARDUHAL_LOG_COLORS=y
CONFIG_ARDUHAL_ESP_LOG=y
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y
CONFIG_ESP_TASK_WDT_PANIC=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=60
CONFIG_ESP_TIMER_PROFILING=y
CONFIG_ESP_TIMER_SUPPORTS_ISR_DISPATCH_METHOD=y
